<h1>Olvidaste tu contraseña</h1>
<p>Vuelve a ingresar tu email:</p>
<div>
  <form method="post" action="/api/sessions/forgot-password">
    <input type="text" placeholder="Email" name="email" />
    <br />
    <br />
    <button type="submit">Restablecer</button>
  </form>
</div>