.users-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.1);
    background-color: lavender;
    margin-bottom: 16px;
    width: 50%;
    white-space: pre-line;
}

.users-list:hover {
    background-color: whitesmoke;
}

.users-list span {
    font-weight: bold;
}

.btn-role {
    display: flex;
    gap: 10px;
}