.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    width: 20%;
}

.product-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.product-card li {
    margin-bottom: 8px;
}

.product-card span {
    font-weight: bold;
}

.product-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 8px;
}