<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/products.css" />
    <link rel="stylesheet" href="/css/cart.css" />
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/purchase.css">
    <title>Ecommerce</title>
  </head>
  <body>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/login">Iniciar sesión</a>
      <a href="/signup">Registrarse</a>
      <a href="/admin">Admin Panel</a>
    </div>
    <div>
      {{#if userData}}
        <div class="profile-links">
          <a href="/profile">Perfil</a>
          <a href="/products">Agregar productos al carrito</a>
          <a href="/carts/:cid">Ver carrito</a>
        </div>
        <form class="form-logout" method="post" action="/api/sessions/logout">
          <button class="btn-logout" type="submit">Cerrar sesión</button>
        </form>
      {{/if}}
    </div>
    {{{body}}}
    <script src="/js/cart.js"></script>
    <script src="/js/admin.js"></script>
  </body>
</html>